SESSION_SECRET=hashhere
JWT_SECRET=otherhashhere
USER=admin_main@mail.com // adresse mail pour envoyer le lien de modif du mdp 
PASSWORD=mdp of mail
BASE_URL=http://localhost:3000/
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/nameofthebase
MONGO_USERNAME=admin
MONGO_PASSWORD=passwordhere
