<html>

<head>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="script/jquery.js"></script>
</head>

<body class="navbarbody">
  <div class="notlogin" id="notloggedalert" style="display: none;">
    <h2 class="notlogintext">Vous ne pouvez pas faire ceci, vous n'êtes pas connecté mais vous pouvez vous connecter en
      cliquant</h2>
    <a href="/login">
      <div class="alertbutton raised green">
        <div class="center" fit>ICI</div>
      </div>
    </a>
  </div>
  <nav>
    <div class="container">
      <ul class="navbar-left">
        <% if(logged) { %>
          <li><a>bonjour <%=name%></a></li>
          <li><a href="/profile">mon compte</a></li>
          <%}else{%>
            <li><a href="/login">se connecter</a></li>
            <li><a href="/register">s'inscrire</a></li>
            <%}%>
      </ul>
      <ul class="navbar-right">
        <li><a id="cart"><i class="fa fa-shopping-cart"></i> Cart
            <span class="badge" id="numberofarticlenavbar"></span>
          </a></li>
      </ul>
    </div>
  </nav>
  <% if(logged) { %>
    <div class="container">
      <div class="shopping-cart" style="display: none;">
        <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i>
          <span class="badge" id="numberofarticle">0</span>
          <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span class="main-color-text" id="totalpricedisplay"> €</span>
          </div>
        </div>
        <ul class="shopping-cart-items" id="articleelement"></ul>
        <a href="#" class="button" id="confirmbutton" style="display: none;">voir mon panier</a>
      </div>
    </div>
    <%}else{%>
      <div class="container">
        <div class="shopping-cart" style="display: none;">
          <div class="shopping-cart-header">
            <i class="fa fa-shopping-cart cart-icon"></i>
            <span class="badge">0</span>
            <div class="shopping-cart-total">
              <span class="lighter-text">Total:</span>
              <span class="main-color-text">0 €</span>
            </div>
          </div>
          <span class="main-color-text">connectez vous pour pouvoir accéder à votre panier en cliquant <a href="/login"
              style="color: white;">ici</a></span>
        </div>
      </div>
      <%}%>
        <div class="wrapper" style="padding-top: 270px">
          <input class="search" type="text" id="search" name="searchedelement" />
          <input class="submitbigbutton" type="submitbigbutton" id="submitbigbutton" value=" " />
        </div>
        <div class="container">
          <div class="row" id="productelement">
          </div>
        </div>
        <script id="indexscript" src="js/index.js" data-baseurl="<%=baseurl%>" data-logged="<%=logged%>"></script>
</body>
</html>